body{
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(99, 5, 99), rgb(20, 3, 42));
}
.tela-login{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 10px;
    color: white;
}
input{
    padding: 15px;
    border: none;
    outline: none;
}
#enviar{
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(18, 7, 139));
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}
#enviar:hover{
    background-image: linear-gradient(to right, rgb(3, 81, 172), rgb(15, 6, 117));
    cursor: pointer;
}