body{
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(99, 5, 99), rgb(20, 3, 42));
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}
fieldset{
    border: 3px solid rgb(72, 3, 72);
}
legend{
    border: 1px solid rgb(72, 3, 72);
    padding: 10px;
    text-align: center;
    background-color: rgb(72, 3, 72) ;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(72, 3, 72);
}
#data-nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#enviar{
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(18, 7, 139));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    outline: none;
    cursor: pointer; 
    border-radius: 10px;
}
#enviar:hover{
    background-image: linear-gradient(to right, rgb(3, 81, 172), rgb(15, 6, 117));
}

